body{
    background #cccccc;
}
#como-registrar-uma-musica{
    width: 100%;
}
p{
    text-align: center;
}
em strong {
    color: crimson;
}
.itens {
    font-style: italic;
}
h2 {
    text-align: center;
}